<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/boolr/IdeaProjects/Home-Work">
        <classes>
            <class name="Aston.Lesson_7.NGTestCases">
                <methods>
                    <include name="number2"/>
                    <include name="number5"/>
                    <include name="number0"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>